<div class="container  border-0 border-radius-xl my-3 fixed-start ms-3 bg-gradient-dark">
    <div class="col">
        <i class="fas fa-times p-3 cursor-pointer text-white opacity-5  end-0 top-0 d-none d-xl-none"
            aria-hidden="true" id="iconSidenav"></i>  
            <h1 class="ms-1 font-weight-bold text-white">Ophelia Portal APP</h1>
            <br>
    <hr class="horizontal light mt-0 mb-2">
        <ul>
            <li *ngFor="let item of sideMenuItems">
                <a class="nav-link text-white bg-gradient mb-5" routerLinkActive="active" [routerLink]='item.route'>
                    <div class="text-white text-center me-3 d-flex align-items-center justify-content-center">
                        <i class="material-icons opacity-10">{{ item.icon }}</i>
                        <span class="nav-link-text ms-1">{{ item.description }}</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>    


